<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
  <title>Document</title>
</head>
<body>
  <h1>Datos</h1>
  <div id='main'></div>
  <script>
    var datos = '{{resultados | tojson}}'
    datos = JSON.parse(datos)["resultados"]
    console.log(datos)
    let collection = document.getElementById('main')
    
    
    for (let i = 0; i < datos.length; i++) {
      let divContainer = document.createElement('div')
      divContainer.className = 'partido'

      
      
      let elementVS = document.createElement('p')
      let elementPganador = document.createElement('p')
      let elementPrival = document.createElement('p')
      let elementPresultado = document.createElement('p')
      let elementImg = document.createElement('img')

      elementPganador.innerHTML = "El ganador es: " + datos[i]["ganador"]
      elementPrival.innerHTML = "El rival es: " +datos[i]["rival"] 
      elementPresultado.innerHTML = "La cantidad de partidos ganados son: " + datos[i]["partidos_ganados"]
      elementImg.src = "../static/assets/equipos-de-futbol/" + datos[i]["escudo"]
      
      divContainer.appendChild(elementPganador)
      divContainer.appendChild(elementVS)
      divContainer.appendChild(elementPrival)
      divContainer.appendChild(elementPresultado)
      divContainer.appendChild(elementImg)
      collection.appendChild(divContainer)
    }
    

    
    
  </script>
</body>
</html>