<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
  <title>Document</title>
</head>
<body>
  <h1>Datos</h1>
  <div id='main'></div>
  <script>
    var datos = '{{resultados | tojson}}'
    datos = JSON.parse(datos)["resultados"]
    
    let collection = document.getElementById('main')
    console.log(Object.keys(datos).length)
    
    for (var equipo in datos) {
      
      let divContainer = document.createElement('div')
      divContainer.className = 'partido'

      
      
      
      let elementPresultado = document.createElement('p')
      let elementImg = document.createElement('img')

      elementPresultado.innerHTML = "La cantidad de partidos ganados son: " + datos[equipo]["resultados"]["partidos_ganados"] + "\n"
      
      
      elementImg.src = "../static/assets/equipos-de-futbol/" + datos[equipo]["escudo"]
      
      
      divContainer.appendChild(elementPresultado)
      

      
      elementImg.style.height = "20px"
      elementImg.style.width = "20px"

      collection.appendChild(divContainer)
    }
    

    
    
  </script>
</body>
</html>